<body>
    <div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h3>Our Info</h3>
                <p>this website is developed by Jan sher and Hashir Khan.</p>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>Latest-News</h3>
                <p>You will be updated soon.</p>
                <p>You will be updated soon.</p>
                <p>You will be updated soon.</p>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>Store Location</h3>
                <h3>Order-online</h3>
                <p>+92-333-767-6377</p>
                <p>+92-300-348-8977</p>
            </div>
            <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
                <h3>News-Letter</h3>
                <input type="text"><input type="submit" value="go" />
                <h3>Fallow Us:</h3>
                <ul>
                    <li><a href="#"><img src="~/images/twitter.png" title="twitter" />Twitter</a></li>
                    <li><a href="#"><img src="~/images/facebook.png" title="Facebook" />Facebook</a></li>
                    <!--<li><a href="#"><img src="~/images/rss.png" title="Rss" />Rss</a></li>
                -->
                </ul>
            </div>
        </div>
    </div>

    <div class="clear"> </div>
    <div class="wrap">
        <div class="copy-right">
            <p>Accessirona  &#169	 All Rights Reserved | Design By <a href="F:/Study Related/6th Semester/EAD/MyResume/MyResume">Khan</a></p>
        </div>
    </div>
</div>
</body>