<body>
    @Html.Partial("_header")

		    <div class="clear"> </div>
		    <div class="wrap">
		    <div class="content">
		    	<div class="about">
		    		<h4>About Us</h4>
		    		<div class="section group">
					<div class="col_1_of_3 span_1_of_3 about-frist">
						<h3>Did You Know?</h3>
						<h5>Technology </h5>
						<p>Technology ("science of craft", from Greek τέχνη, techne, "art, skill, cunning of hand"; and -λογία, -logia[3]) is the collection of techniques, skills, methods and processes used in the production of goods or services or in the accomplishment of objectives, such as scientific investigation. Technology can be the knowledge of techniques, processes, etc. or it can be embedded in machines, computers, devices and factories, which can be operated by individuals without detailed knowledge of the workings of such things..</p>
						<ul>
							<li><a href="#">mobile</a></li>
							<li><a href="#">laptops</a></li>
							<li><a href="#">abc</a></li>
                            <li><a href="#">abc</a></li>
                            <li><a href="#">abc</a></li>
                            <li><a href="#">abc</a></li>
                            <li><a href="#">abc</a></li>
                            <li><a href="#">abc</a></li>
                            <li><a href="#">abc</a></li>
						</ul>
					</div>
					<div class="col_1_of_3 span_1_of_3 about-centre">
						<h3>Our Mission</h3>
						<a href="#"><img src="~/images/grid-img2.jpg"></a>
						<h5>To accomodate you prople! </h5>
						<p>our mission is to provide you people a platform where you can come and get all your latest technology gagets on your window screen without any inconvinience.</p>
					</div>
                        <div class="content-sidebar">
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="#">DELL Laptops</a></li>
                                <li><a href="#">TOSHIBA Laptops</a></li>
                                <li><a href="#">SONY VAIO Laptops</a></li>
                                <li><a href="#">Apple Laptops</a></li>
                                <li><a href="#">Blackberry Mobiles</a></li>
                                <li><a href="#">Dell Mobile Phones </a></li>
                                <li><a href="#">APPLE Mobile Phones</a></li>
                                <li><a href="#">HTC</a></li>
                                <li><a href="#">LG Mobiles</a></li>
                                <li><a href="#">Micromax Mobiles </a></li>
                                <li><a href="#">Samsung Mobiles</a></li>
                                <li><a href="#">Sony Ericsson Mobiles</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_3 span_1_of_3 quites">
					
                        <!--<h3>Testimonials</h3>
						<blockquote><p><img src="~/images/quotes_alt.png"> &nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></blockquote>
						<a href="#">- Lorem ipsum.<span>Usa</span></a><br /><br />
						<blockquote><p><img src="~/images/quotes_alt.png"> &nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></blockquote>
						<a href="#">- Lorem ipsum.<span>Usa</span></a>
					-->
                    </div>
					<div class="clear"> </div>
					<div class="section group">
						<div class="cont span_2_of_3">
						       <h3>Accessirona | General Information</h3>
							   	<p>Accessirona is a market place where you can get all the ypdates about newly launched products.</p>
							   <p>For this tme, we are only focusing laptops and mobiles but we are going to accomodate you with all the latest technology gadgets.</p>
						       <p>Just be supportive and be a part of us. stay tuned!</p>				    
						</div>
						<div class="rsidebar span_1_of_3 about-frist">
						      <h3>Fresh-links</h3>
						      <ul>
								<li><a href="#">Abc</a></li>
                                <li><a href="#">Abc</a></li>
                                <li><a href="#">Abc</a></li>
                                <li><a href="#">Abc</a></li>
                                <li><a href="#">Abc</a></li>
							</ul>
						      
						</div>
		    </div>
				</div>
				
		    	</div>
		    	</div>
		    	
		    </div>
		    <div class="clear"> </div>
    @Html.Partial("_footer")
	</body>
</html>

